body {
  margin: 0;
  font-family: "Roboto" Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
  /* background-image: linear-gradient(to top, #333333, #606060, #929292, #c7c7c7, #ffffff);
  background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
